{% extends 'base.html.twig' %}

{% block title %}Ouvrir un compte{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-between pb-5">
        <div>
            <h1 class="display-5 m-0">Inscription</h1>
        </div>
    </div>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="w-50 mx-auto">
        {{ form(registrationForm) }}
    </div>
{% endblock %}
